In [1]:
import os
import math
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from numpy import save

%matplotlib inline
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 500)

# Předzpracování dat

## Nahrání dat

### Záznamy z kosu

In [2]:
def readFilesFromData(dirName):
    fileNames = []
    pandasNames = []
    with os.scandir(dirName) as entries:
        for entry in entries:
            if entry.name[0] != '.':
                fileNames.append(entry.name)
                name = entry.name[0:-4].split('_')
                pandasNames.append(name[-2] + '_' + name[-1])
    return fileNames, pandasNames

In [3]:
#fileNames, pandasNames = readFilesFromData('data')

In [4]:
path_file = os.sep.join(['data', 'dm_vysledky_studentu_v_predmetech_mv_prihlaska_dim.csv'])
prihlaska_dim = pd.read_csv(path_file, sep=";") 

path_file = os.sep.join(['data', 'dm_vysledky_studentu_v_predmetech_mv_klasifikace_fact.csv'])
klasifikace_fact = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['data', 'dm_vysledky_studentu_v_predmetech_mv_predmet_dim.csv'])
predmet_dim = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['data', 'dm_vysledky_studentu_szzk_mv_zaverecne_prace_fact.csv'])
prace_fact = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['data', 'dm_vysledky_studentu_szzk_mv_szzk_dim.csv'])
szzk_dim = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['data', 'dm_vysledky_studentu_v_predmetech_mv_student_dim.csv'])
student_dim = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['data', 'dm_vysledky_studentu_v_predmetech_mv_studium_dim.csv'])
studium_dim = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['data', 'dm_vysledky_studentu_v_predmetech_mv_semestr_dim.csv'])
semestr_dim = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['data', 'dm_vysledky_studentu_szzk_mv_zaverecne_prace_dilci_hodnoceni_dim.csv'])
hodnoceni_dim = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['created_data', 'klasifikace_fact_changed.csv'])
klasifikace_fact_changed = pd.read_csv(path_file, sep=",")

### Předměty

In [5]:
def readFilesFromPredmety(dirName):
    fileNamesCourses = []
    with os.scandir(dirName) as entries:
        for entry in entries:
            if entry.name[0] != '.':
                fileNamesCourses.append(entry.name)
    return fileNamesCourses

In [6]:
fileNamesCourses = readFilesFromPredmety('predmety')

In [7]:
fileNamesCourses

['zi_1617_mag.csv',
 'sp_1619_mag.csv',
 'wsi_si_mag.csv',
 'courses_baks.csv',
 'courses_bak_spec.csv',
 'zi_1517_bak.csv',
 'zi_1819_mag.csv',
 'wsi_wi_bak.csv',
 'npvs_mag.csv',
 'Zjištění oborových předmětů.ipynb',
 'wsi_si_bak.csv',
 'wsi_pg_bak.csv',
 'bit_bak.csv',
 'zi_1820_bak.csv',
 'sp_1617_mag.csv',
 'pss_mag.csv',
 'courses_mag.csv',
 'courses_mag_spec.csv',
 'pb_mag.csv',
 'ti_bak.csv',
 'wsi_ism_mag.csv',
 'wsi_wi_mag.csv',
 'ism_bak.csv',
 'pi_bak.csv']

In [8]:
# bakalar vsechny povinne spolecne predmety
path_file = os.sep.join(['predmety', 'courses_baks.csv'])
courses_baks = pd.read_csv(path_file, sep=",")

# magistr vsechny povinne spolecne predmety
path_file = os.sep.join(['predmety', 'courses_mag.csv'])
courses_mag = pd.read_csv(path_file, sep=",")

# bakalar vsechny specializace
path_file = os.sep.join(['predmety', 'courses_bak_spec.csv'])
courses_bak_spec = pd.read_csv(path_file, sep=",")

# magistr vsechny specializace
path_file = os.sep.join(['predmety', 'courses_mag_spec.csv'])
courses_mag_spec = pd.read_csv(path_file, sep=",")

# bakalar
path_file = os.sep.join(['predmety', 'zi_1517_bak.csv'])
zi_1517_bak = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'wsi_wi_bak.csv'])
wsi_wi_bak = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'wsi_si_bak.csv'])
wsi_si_bak = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'wsi_pg_bak.csv'])
wsi_pg_bak = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'bit_bak.csv'])
bit_bak = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'zi_1820_bak.csv'])
zi_1820_bak = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'ti_bak.csv'])
ti_bak = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'ism_bak.csv'])
ism_bak = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'pi_bak.csv'])
pi_bak = pd.read_csv(path_file, sep=",")

# magistr
path_file = os.sep.join(['predmety', 'zi_1617_mag.csv'])
zi_1617_mag = pd.read_csv(path_file, sep=",") 

path_file = os.sep.join(['predmety', 'sp_1619_mag.csv'])
sp_1619_mag = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'wsi_si_mag.csv'])
wsi_si_mag = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'zi_1819_mag.csv'])
zi_1819_mag = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'npvs_mag.csv'])
npvs_mag = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'sp_1617_mag.csv'])
sp_1617_mag = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'pss_mag.csv'])
pss_mag = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'pb_mag.csv'])
pb_mag = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'wsi_ism_mag.csv'])
wsi_ism_mag = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'wsi_wi_mag.csv'])
wsi_wi_mag = pd.read_csv(path_file, sep=",")

## Odstranění zbytečných sloupců

In [9]:
student_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16431 entries, 0 to 16430
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   studium_id                16431 non-null  int64
 1   peridno                   16431 non-null  int64
 2   pohlavi_kod               16163 non-null  object
 3   datum_narozeni            16258 non-null  object
 4   misto_narozeni            16044 non-null  object
 5   statni_prislusnost_nazev  16246 non-null  object
 6   stat_narozeni_nazev       13195 non-null  object
 7   typ_adresy                16431 non-null  object
 8   kod_obce                  12242 non-null  float64
 9   kod_okresu                12506 non-null  float64
 10  kod_zeme                  16431 non-null  int64
 11  psc                       12597 non-null  object
dtypes: float64(2), int64(3), object(7)
memory usage: 1.5+ MB

In [10]:
prihlaska_dim_o = prihlaska_dim.copy(deep=True)
prihlaska_dim = prihlaska_dim.loc[:, ['cislo_prihlasky', 
                                      'odkud_uchazec_prihlasen_kod', 
                                      'prihlaska_kod', 'studium_id', 
                                      'rozhodnuti_kod', 'obor_ss_kod', 
                                      'ss_izo', 'ss_typ', 'predchozi_studium', 
                                      'maturita_rok', 'hodnoceni_pz', 
                                      'trvaly_pobyt_v_cr', 'financovani', 
                                      'stupen_predchoziho_vzdelani', 
                                      'cislo_uchazece', 'scio_test', 
                                      'olympiady', 'postizeni_kod', 
                                      'datum_registrace', 'misto_kod', 
                                      'okres_kod', 'zeme_kod', 'psc']]

prace_fact_o = prace_fact.copy(deep=True)
prace_fact = prace_fact.drop(columns=['nazev_cs', 'nazev_en'])

student_dim_o = student_dim.copy(deep=True)
student_dim = student_dim.drop(columns=['typ_adresy'])

studium_dim_o = studium_dim.copy(deep=True)
studium_dim = studium_dim.drop(columns=['zamereni_id', 
                                        'nazev_fakulty', 
                                        'fakulta_id', 
                                        'platby_stav', 
                                        'pruchod',
                                        'ukonceni_zpusob'])

hodnoceni_dim_o = hodnoceni_dim.copy(deep=True)
hodnoceni_dim = hodnoceni_dim.drop(columns=['predmet_cislo'])

## Selekce záznamů

### Pomocné proměnné

In [11]:
# kódy semestrů od roku 2015
sem = ['B202', 'B201', 'B192', 'B191', 'B182', 'B181', 'B172', 'B171',
       'B162', 'B161', 'B152', 'B151']

In [12]:
# id a kody relevantních předmětů (od roku 2015, jen povinné / povinné spec)
courses_kod_bak = courses_bak_spec["kod_predmetu"].unique()
courses_bak = predmet_dim[(predmet_dim['kod_predmetu'].isin(courses_kod_bak))].loc[:, ['kod_predmetu', 'predmet_id']]
courses_id_bak = courses_bak['predmet_id'].unique()

courses_kod_mag = courses_mag_spec["kod_predmetu"].unique()
courses_mag = predmet_dim[(predmet_dim['kod_predmetu'].isin(courses_kod_mag))].loc[:, ['kod_predmetu', 'predmet_id']]
courses_id_mag = courses_mag['predmet_id'].unique()

#### studium_dim

In [13]:
# zmena datum_zahajeni pouze na rok a zmena ze stringu na int
studium_dim['datum_zahajeni'] = studium_dim['datum_zahajeni'].apply(lambda x: x.split('-')[0])

studium_dim['datum_ukonceni'] = studium_dim['datum_ukonceni'].fillna('0')
studium_dim['datum_ukonceni'] = studium_dim['datum_ukonceni'].apply(lambda x: x.split('-')[0])

studium_dim['rok_maturity'] = studium_dim['rok_maturity'].fillna('0')
studium_dim['rok_maturity'] = studium_dim['rok_maturity'].apply(lambda x: x.split('-')[0])

studium_dim['datum_zahajeni'] = pd.to_numeric(studium_dim['datum_zahajeni'])
studium_dim['datum_ukonceni'] = pd.to_numeric(studium_dim['datum_ukonceni'])
studium_dim['rok_maturity'] = pd.to_numeric(studium_dim['rok_maturity'])

In [14]:
# jen studenti, kteri nastoupili od roku 2015, studuji v cj a jedna se o prezencni formu studia
studium_dim_bak = studium_dim[(studium_dim['datum_zahajeni'] >= 2015) 
                             & (studium_dim['jazyk_vyuky'] == 'CS')
                             & (studium_dim['forma_studia'] == 'P')
                             & (studium_dim['typ_programu'] == 'B')]
studium_dim_mag = studium_dim[(studium_dim['datum_zahajeni'] >= 2015)
                             & (studium_dim['jazyk_vyuky'] == 'CS')
                             & (studium_dim['forma_studia'] == 'P')
                             & (studium_dim['typ_programu'] == 'N')]

# vsichni studenti, kteri studuji v cj a jedna se o prezencni formu studia
studium_dim_bak_09 = studium_dim[(studium_dim['jazyk_vyuky'] == 'CS')
                             & (studium_dim['forma_studia'] == 'P')
                             & (studium_dim['typ_programu'] == 'B')]
studium_dim_mag_09 = studium_dim[(studium_dim['jazyk_vyuky'] == 'CS')
                             & (studium_dim['forma_studia'] == 'P')
                             & (studium_dim['typ_programu'] == 'N')]

In [15]:
# id techto studentu 
student_id_bak = studium_dim_bak['studium_id'].unique()
student_id_mag = studium_dim_mag['studium_id'].unique()

student_id_bak_09 = studium_dim_bak_09['studium_id'].unique()
student_id_mag_09 = studium_dim_mag_09['studium_id'].unique()

In [16]:
# kontrola
ids = studium_dim['studium_id']
studium_dim[ids.isin(ids[ids.duplicated()])]

Empty DataFrame
Columns: [studium_id, typ_programu, forma_studia, datum_zahajeni, datum_ukonceni, rocnik, studijni_stav, studuje, jazyk_vyuky, rok_maturity, odkud_skola_kod]
Index: []

#### klasifikace_fact

In [17]:
klasifikace_fact

,semestr_id,predmet_id,studium_id,zapocteno,zakonceno,znamka,poradi_zapisu
0,B202,4417206,17583006,NaN,1.0,NaN,1
1,B202,4417206,16990806,NaN,1.0,NaN,1
2,B202,4417206,17201506,NaN,1.0,NaN,1
3,B202,4417206,16964906,NaN,1.0,NaN,1
4,B202,4417206,16964806,NaN,1.0,NaN,1
...,...,...,...,...,...,...,...
280627,B211,6813906,17891606,NaN,NaN,NaN,1
280628,B211,6813906,19158306,NaN,NaN,NaN,1
280629,B211,6813906,19157106,NaN,NaN,NaN,1
280630,B211,6813906,17892406,NaN,NaN,NaN,1
280631,B211,6813906,18529506,NaN,NaN,NaN,1

In [18]:
# pokud je zapocteno, zakonceno i znamka nan, zmena znamky na 4
#for index, row in klasifikace_fact.iterrows():
#    if math.isnan(klasifikace_fact.loc[index, 'znamka']) and klasifikace_fact.loc[index, 'zapocteno'] != 'Z' and math.isnan(klasifikace_fact.loc[index, 'zakonceno']):
#        klasifikace_fact.loc[index, 'znamka'] = 4

In [19]:
#path_file = os.sep.join(['created_data', 'klasifikace_fact_changed.csv'])
#klasifikace_fact.to_csv(path_file, index=False)

In [21]:
len(klasifikace_fact[(klasifikace_fact['zapocteno']=='Z')
                & (klasifikace_fact['zakonceno'].notna())
                & (klasifikace_fact['znamka'].notna())])

139201

In [22]:
klasifikace_fact_o = klasifikace_fact.copy(deep=True)

# vsichni studenti bez bakalarky a diplomky
klasifikace_fact_bak_09 = klasifikace_fact_changed[(klasifikace_fact_changed['predmet_id'] != 1142806)
                                        & (klasifikace_fact_changed['predmet_id'] != 3458906)]

klasifikace_fact_mag_09 = klasifikace_fact_changed[(klasifikace_fact_changed['predmet_id'] != 1495306)
                                        & (klasifikace_fact_changed['predmet_id'] != 1499406)]

# jen klasifikace povinnych spolecnych bak. predmetů, 
# ve vybraných semestrech
# bez bakalarky/diplomky a bak./mag. projektu
klasifikace_fact_bak = klasifikace_fact_changed[(klasifikace_fact_changed['predmet_id'].isin(courses_id_bak)) 
                                        & (klasifikace_fact_changed['predmet_id'] != 1142806)
                                        & (klasifikace_fact_changed['predmet_id'] != 3458906)
                                        & (klasifikace_fact_changed['studium_id'].isin(student_id_bak))]
klasifikace_fact_mag = klasifikace_fact_changed[(klasifikace_fact_changed['predmet_id'].isin(courses_id_mag))
                                        & (klasifikace_fact_changed['predmet_id'] != 1495306)
                                        & (klasifikace_fact_changed['predmet_id'] != 1499406)
                                        & (klasifikace_fact_changed['studium_id'].isin(student_id_mag))]

# bez aktualniho semestru
klasifikace_fact_bak_past = klasifikace_fact_bak[(klasifikace_fact_bak['semestr_id'] != 'B211')]
klasifikace_fact_mag_past = klasifikace_fact_mag[(klasifikace_fact_mag['semestr_id'] != 'B211')]

# jen aktualni semestr
klasifikace_fact_bak_act = klasifikace_fact_bak[(klasifikace_fact_bak['semestr_id'] == 'B211')]
klasifikace_fact_mag_act = klasifikace_fact_mag[(klasifikace_fact_mag['semestr_id'] == 'B211')]

#pomocna promenna array vsech pp bak pred
courses_baks = courses_baks[(courses_baks['kod_predmetu'] != 'BI-BAP')
                            & (courses_baks['kod_predmetu'] != 'BI-BPR')]
courses = courses_baks['kod_predmetu'].unique()

#slovnik predmet_id: kod_predmetu
courses_bak_tran_id_kod = dict()
for index, row in predmet_dim.iterrows():
    courses_bak_tran_id_kod[row['predmet_id']] = row['kod_predmetu']
    
#slovnik kod_predmetu: predmet_id
courses_bak_tran_kod_id = dict()
for index, row in predmet_dim.iterrows():
    courses_bak_tran_kod_id[row['kod_predmetu']] = row['predmet_id']
    
courses_ids = []
for course in courses:
    courses_ids.append(courses_bak_tran_kod_id[course])
    
#jen povinne spolecne predmety serazene
klasifikace_fact_bak_pp = klasifikace_fact_bak_past[
    (klasifikace_fact_bak_past['predmet_id'].isin(courses_ids))].sort_values(by=['poradi_zapisu']) 

#vsichni studenti bakalare od roku 2009, jen vybrane predmety bez akt. semestru
#aag, lin, zdm, zma
#serazeno
imp_courses_ids = np.array([1122106, 1124106, 1122206, 1121206])
klasifikace_fact_bak_imp_09 = klasifikace_fact[(klasifikace_fact['predmet_id'].isin(imp_courses_ids)) 
                                        & (klasifikace_fact_bak['semestr_id'] != 'B211')
                                        & (klasifikace_fact['studium_id'].isin(student_id_bak))].sort_values(by=['poradi_zapisu'])

In [23]:
predmety = klasifikace_fact_bak['predmet_id'].unique()
predmety_nazev = np.array([])
for predmet in predmety:
    predmety_nazev = np.append(predmety_nazev, courses_bak_tran_id_kod[predmet])

In [24]:
predmety_nazev

array(['BI-DBS', 'BI-DPR', 'BI-SP1', 'BI-PJV', 'BI-PAI', 'BI-TJV',
       'BI-TIS', 'BI-SI1.2', 'BI-PRP', 'BI-TWA.1', 'BI-PYT', 'BI-SI2.3',
       'BI-SP2.1', 'BI-PGA', 'BI-BIG', 'BI-MGA', 'BI-KOM', 'BI-VWM',
       'BI-EMP', 'BI-PGR.1', 'BI-XML', 'BI-VZD', 'BI-ZUM', 'BI-ZNS',
       'BI-PST', 'BI-ZMA', 'BI-ZDM', 'BI-MLO', 'BI-LIN', 'BI-AAG',
       'BI-AG1', 'BI-PA2', 'BI-PJP', 'BI-PPA', 'BI-AG2', 'BI-PA1',
       'BI-OOP', 'BI-CAO', 'BI-SRC', 'BI-PNO', 'BI-SAP', 'BI-TUR',
       'BI-ZRS', 'BI-JPO', 'BI-VES', 'BI-PS1', 'BI-ADW.1', 'BI-ADU.1',
       'BI-APS.1', 'BI-OSY', 'BI-PSI', 'BI-SSB', 'BI-BEZ', 'BI-BEK',
       'BI-HWB'], dtype='<U32')

#### matice klasifikace

In [25]:
#matice klasikace
class_matrix_bak = pd.DataFrame(index=student_id_bak, columns=courses)  

for index, row in klasifikace_fact_bak_pp.iterrows():
    if not math.isnan(row['znamka']):
        class_matrix_bak[courses_bak_tran_id_kod[row['predmet_id']]][row['studium_id']] = row['znamka']

In [26]:
path_file = os.sep.join(['created_data', 'class_matrix_bak.csv'])
class_matrix_bak.to_csv(path_file, index=True, index_label='studium_id')

In [27]:
class_matrix_bak.dropna()

,BI-PA1,BI-PAI,BI-CAO,BI-PS1,BI-MLO,BI-ZMA,BI-PA2,BI-DBS,BI-SAP,BI-LIN,BI-AG1,BI-AAG,BI-ZDM,BI-OSY,BI-PSI,BI-BEZ,BI-PST,BI-DPR,BI-SI1.2,BI-EMP
15569706,3,1.5,1.5,2,1.5,1.5,2,1,1,2,2,1.5,2,1,2,1.5,4,4,1.5,4
14249306,2.5,2.5,2,1,1.5,2.5,2.5,2,2.5,3,2.5,2.5,2.5,2.5,2,2.5,2.5,4,2.5,1.5
14247306,1,2,1,1,1.5,2,2,1,1,3,2,2,2.5,3,2.5,3,2.5,4,2.5,1.5
14291006,3,2,1,2,2.5,2,3,1.5,2.5,2.5,2.5,2,3,3,2.5,2.5,3,2.5,3,3
14318106,2.5,2.5,1,3,2,3,2,3,3,2,2.5,2.5,2.5,1,2.5,1,3,2.5,2.5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12031406,2.5,2,1.5,3,2,2.5,3,1.5,1,2,1.5,2.5,1.5,2,1.5,1.5,2,1.5,1.5,1
12031006,3,2,1.5,3,2.5,3,3,2.5,2,3,3,3,2.5,3,2.5,2.5,2.5,1.5,3,1
12971906,2,2.5,1,2.5,2.5,2.5,2,2.5,1.5,3,2.5,3,3,2.5,2.5,3,2,1.5,2.5,1.5
12966906,3,2,1,3,2,1.5,2.5,2,1,3,2.5,2,2,2.5,2,2,1.5,1.5,2,1.5
12978706,2,2.5,1,2.5,2,2,2,2,1.5,3,1.5,2,2.5,3,2,1.5,2,1,1.5,1.5

#### stud_success

In [28]:
bak_students = studium_dim[(studium_dim['typ_programu'] == 'B')
                          & (studium_dim['forma_studia'] == 'P')
                          & (studium_dim['jazyk_vyuky'] == 'CS')
                          & (studium_dim['studuje'] == 'K')]['studium_id'].unique()

In [30]:
# i po 2. pokusu jsou neuspesni
failed_students = np.array([])
tmp = szzk_dim[(szzk_dim['celkove_hodnoceni'] == 4) 
    & (szzk_dim['cislo_terminu'] == 2)]['studium_id'].unique()
for t in tmp:
    if t in bak_students:
        failed_students = np.append(failed_students, [t])

tmp_1 = szzk_dim.merge(hodnoceni_dim[(hodnoceni_dim['hodnoceni'] == 4) 
    & (hodnoceni_dim['cislo_terminu'] == 2)], on='statni_zkouska_id', how='inner')

# kvuli chybe v datech
tmp_1 = tmp_1[(tmp_1['studium_id'] != 14240606) 
    & (tmp_1['studium_id'] != 14808406)]['studium_id'].unique()
for t in tmp_1:
    if t in bak_students:
        failed_students = np.append(failed_students, [t])

# neuspesni v prvnim pokusu a nemaji druhy pokus
second_chance = szzk_dim[(szzk_dim['cislo_terminu'] == 2)]['studium_id'].unique()
for st in second_chance:
    if st in bak_students:
        failed_students = np.append(failed_students, [st])

# studenti, kteri maji 4 u druheho zapisu povinneho predmetu
tmp_2 = klasifikace_fact_bak_pp[(klasifikace_fact_bak_pp['poradi_zapisu'] == 2) 
                 & (klasifikace_fact_bak_pp['znamka'] == 4)]['studium_id'].unique()
for t in tmp_2:
    if t in bak_students:
        failed_students = np.append(failed_students, [t])

failed_students = np.unique(failed_students)

In [31]:
len(failed_students)

852

In [32]:
# uspeli u statnic
szzk_success = np.array([])
tmp = szzk_dim.merge(hodnoceni_dim, on='statni_zkouska_id', how='outer')
succ_studs_szzk = tmp[((tmp['celkove_hodnoceni'].notna()) 
                       & (tmp['celkove_hodnoceni'] != 4))]['studium_id'].unique()

# succ_studs_szzk jsou tu i magistri
successful_students = np.array([])
for st in succ_studs_szzk:
    if st in bak_students:
        successful_students = np.append(successful_students, [st])

In [33]:
print(len(succ_studs_szzk))
print(len(successful_students))

3557
2096

In [34]:
# studenti, kteri maji dokoncene studium a zaroven
# nemaji dokoncene vsechny povinne bakalarske predmety
ended_students_bak = studium_dim[(studium_dim['studuje'] == 'K') 
            & (studium_dim['typ_programu'] == 'B')
            & (studium_dim['forma_studia'] == 'P')
            & (studium_dim['jazyk_vyuky'] == 'CS')]['studium_id'].to_numpy()
completed = class_matrix_bak[~class_matrix_bak.isnull().any(axis=1)]
completed_arr = completed.index.to_numpy()
not_completed_arr = class_matrix_bak[(~class_matrix_bak.index.isin(completed_arr))].index.to_numpy()

for st in ended_students_bak:
    if st in not_completed_arr:
        if st not in successful_students:
            failed_students = np.append(failed_students, [st])
        
failed_students = np.unique(failed_students)

In [35]:
print(len(failed_students))
print(len(ended_students_bak))

3062
7736

In [36]:
# nedokoncili ani jeden predmet
not_even_one_course_arr = np.array([])
for st in ended_students_bak:
    # and (st in bak_students)
    if (st not in student_id_bak) and (st not in successful_students):
        not_even_one_course_arr = np.append(not_even_one_course_arr, [st])

failed_students = np.append(failed_students, not_even_one_course_arr)
failed_students = np.unique(failed_students)

In [37]:
print(len(not_even_one_course_arr))
print(len(failed_students))

2685
5729

In [38]:
cnt = 0
fail_success = np.array([])
for st in failed_students:
    if st in successful_students:
        fail_success = np.append(fail_success, [st])
        cnt += 1

In [39]:
cnt

98

In [40]:
cnt = 0
for st in successful_students:
    if st in failed_students:
        fail_success = np.append(fail_success, [st])
        cnt += 1

In [41]:
cnt

98

In [42]:
fail_success = np.unique(fail_success)
failed_students_update = np.array([])
for st in failed_students:
    if st not in fail_success:
        failed_students_update = np.append(failed_students_update, [st])

In [43]:
len(failed_students_update)

5631

In [44]:
cnt = 0
for st in bak_students:
    if st not in failed_students_update and st not in successful_students:
        print(st)
        cnt += 1

15569706
14249306
14253806
13007306
11724106
12970006
12992806
11702906
11713806

In [45]:
cnt

9

In [46]:
path_file = os.sep.join(['created_data', 'successful_students.npy'])
save(path_file, successful_students)

path_file = os.sep.join(['created_data', 'failed_students.npy'])
save(path_file, failed_students_update)

#### Průměry v povinných předmětech

In [47]:
class_matrix_bak.mean()

BI-PA1      3.108985
BI-PAI      2.668257
BI-CAO      1.873104
BI-PS1      2.959585
BI-MLO      2.934201
BI-ZMA      3.122029
BI-PA2      2.855662
BI-DBS      2.389488
BI-SAP      2.370043
BI-LIN      3.143392
BI-AG1      2.816277
BI-AAG      2.728651
BI-ZDM      2.833069
BI-OSY      2.599057
BI-PSI      2.592041
BI-BEZ      2.400759
BI-PST      2.370370
BI-DPR      1.533140
BI-SI1.2    2.111277
BI-EMP      1.799462
dtype: float64

In [48]:
success = class_matrix_bak[class_matrix_bak.index.isin(successful_students)]

In [49]:
success.mean()

BI-PA1      2.086231
BI-PAI      2.287129
BI-CAO      1.152924
BI-PS1      2.217302
BI-MLO      1.915452
BI-ZMA      1.961538
BI-PA2      2.006729
BI-DBS      1.835000
BI-SAP      1.616379
BI-LIN      2.346204
BI-AG1      2.065596
BI-AAG      1.975366
BI-ZDM      2.177807
BI-OSY      2.324254
BI-PSI      2.158254
BI-BEZ      2.024601
BI-PST      2.114597
BI-DPR      1.343668
BI-SI1.2    1.945047
BI-EMP      1.445592
dtype: float64

In [50]:
fail = class_matrix_bak[class_matrix_bak.index.isin(failed_students)]

In [51]:
fail.mean()

BI-PA1      3.580196
BI-PAI      3.000752
BI-CAO      2.273647
BI-PS1      3.420617
BI-MLO      3.400498
BI-ZMA      3.615739
BI-PA2      3.634664
BI-DBS      3.004829
BI-SAP      3.012176
BI-LIN      3.781016
BI-AG1      3.670354
BI-AAG      3.587312
BI-ZDM      3.652949
BI-OSY      3.569164
BI-PSI      3.368317
BI-BEZ      3.382353
BI-PST      3.397143
BI-DPR      2.842593
BI-SI1.2    2.863636
BI-EMP      2.516166
dtype: float64

In [52]:
fail.mean() - success.mean()

BI-PA1      1.493965
BI-PAI      0.713623
BI-CAO      1.120724
BI-PS1      1.203315
BI-MLO      1.485046
BI-ZMA      1.654201
BI-PA2      1.627935
BI-DBS      1.169829
BI-SAP      1.395797
BI-LIN      1.434812
BI-AG1      1.604758
BI-AAG      1.611945
BI-ZDM      1.475142
BI-OSY      1.244910
BI-PSI      1.210063
BI-BEZ      1.357752
BI-PST      1.282546
BI-DPR      1.498925
BI-SI1.2    0.918589
BI-EMP      1.070574
dtype: float64

#### important_courses_matrix

In [53]:
#matice klasikace u vybranych predmetu u vsech studentu bakalare od roku 2009
important_courses_matrix = pd.DataFrame(index=student_id_bak_09, columns=['BI-AAG', 'BI-ZMA', 'BI-LIN', 'BI-ZDM', 'prumer'])

for index, row in klasifikace_fact_bak_imp_09.iterrows():
    if not math.isnan(row['znamka']):
        important_courses_matrix[courses_bak_tran_id_kod[row['predmet_id']]][row['studium_id']] = row['znamka']
        
for index, row in important_courses_matrix.iterrows():
    important_courses_matrix.loc[index, 'prumer'] = row.mean()

In [54]:
important_courses_matrix

         BI-AAG BI-ZMA BI-LIN BI-ZDM   prumer
17929506    NaN    2.5      3    NaN     2.75
17931206    NaN    NaN    NaN    NaN      NaN
15569706    1.5    1.5      2      2     1.75
16729706      4      2      4    NaN  3.33333
17931606    NaN    2.5    NaN    NaN      2.5
...         ...    ...    ...    ...      ...
19351806    NaN    NaN    NaN    NaN      NaN
19351406    NaN    NaN    NaN    NaN      NaN
19351006    NaN    NaN    NaN    NaN      NaN
19350506    NaN    NaN    NaN    NaN      NaN
19350006    NaN    NaN    NaN    NaN      NaN

[9403 rows x 5 columns]

In [55]:
path_file = os.sep.join(['created_data', 'important_courses_matrix.csv'])
important_courses_matrix.to_csv(path_file, index=True, index_label='studium_id')