In [1]:
import os
import math
import pickle
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from numpy import save

%matplotlib inline
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 500)

# Předzpracování dat

## Nahrání dat

### Záznamy z kosu

In [2]:
path_file = os.sep.join(['data', 'dm_vysledky_studentu_v_predmetech_mv_prihlaska_dim.csv'])
prihlaska_dim = pd.read_csv(path_file, sep=";") 

path_file = os.sep.join(['data', 'dm_vysledky_studentu_v_predmetech_mv_klasifikace_fact.csv'])
klasifikace_fact = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['data', 'dm_vysledky_studentu_v_predmetech_mv_predmet_dim.csv'])
predmet_dim = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['data', 'dm_vysledky_studentu_szzk_mv_zaverecne_prace_fact.csv'])
prace_fact = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['data', 'dm_vysledky_studentu_szzk_mv_szzk_dim.csv'])
szzk_dim = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['data', 'dm_vysledky_studentu_v_predmetech_mv_student_dim.csv'])
student_dim = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['data', 'dm_vysledky_studentu_v_predmetech_mv_studium_dim.csv'])
studium_dim = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['data', 'dm_vysledky_studentu_v_predmetech_mv_semestr_dim.csv'])
semestr_dim = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['data', 'dm_vysledky_studentu_szzk_mv_zaverecne_prace_dilci_hodnoceni_dim.csv'])
hodnoceni_dim = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['created_data', 'klasifikace_fact_changed.csv'])
klasifikace_fact_changed = pd.read_csv(path_file, sep=",")

/home/kapitann/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

### Předměty

In [3]:
# bakalar vsechny povinne spolecne predmety
path_file = os.sep.join(['predmety', 'courses_baks.csv'])
courses_baks = pd.read_csv(path_file, sep=",")

# magistr vsechny povinne spolecne predmety
path_file = os.sep.join(['predmety', 'courses_mag.csv'])
courses_mag = pd.read_csv(path_file, sep=",")

# bakalar vsechny specializace
path_file = os.sep.join(['predmety', 'courses_bak_spec.csv'])
courses_bak_spec = pd.read_csv(path_file, sep=",")

# magistr vsechny specializace
path_file = os.sep.join(['predmety', 'courses_mag_spec.csv'])
courses_mag_spec = pd.read_csv(path_file, sep=",")

# bakalar
path_file = os.sep.join(['predmety', 'zi_1517_bak.csv'])
zi_1517_bak = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'wsi_wi_bak.csv'])
wsi_wi_bak = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'wsi_si_bak.csv'])
wsi_si_bak = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'wsi_pg_bak.csv'])
wsi_pg_bak = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'bit_bak.csv'])
bit_bak = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'zi_1820_bak.csv'])
zi_1820_bak = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'ti_bak.csv'])
ti_bak = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'ism_bak.csv'])
ism_bak = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'pi_bak.csv'])
pi_bak = pd.read_csv(path_file, sep=",")

# magistr
path_file = os.sep.join(['predmety', 'zi_1617_mag.csv'])
zi_1617_mag = pd.read_csv(path_file, sep=",") 

path_file = os.sep.join(['predmety', 'sp_1619_mag.csv'])
sp_1619_mag = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'wsi_si_mag.csv'])
wsi_si_mag = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'zi_1819_mag.csv'])
zi_1819_mag = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'npvs_mag.csv'])
npvs_mag = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'sp_1617_mag.csv'])
sp_1617_mag = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'pss_mag.csv'])
pss_mag = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'pb_mag.csv'])
pb_mag = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'wsi_ism_mag.csv'])
wsi_ism_mag = pd.read_csv(path_file, sep=",")

path_file = os.sep.join(['predmety', 'wsi_wi_mag.csv'])
wsi_wi_mag = pd.read_csv(path_file, sep=",")

## Odstranění zbytečných sloupců

In [4]:
prihlaska_dim_o = prihlaska_dim.copy(deep=True)
prihlaska_dim = prihlaska_dim.loc[:, ['cislo_prihlasky', 
                                      'odkud_uchazec_prihlasen_kod', 
                                      'prihlaska_kod', 'studium_id', 
                                      'rozhodnuti_kod', 'obor_ss_kod', 
                                      'ss_izo', 'ss_typ', 'predchozi_studium', 
                                      'maturita_rok', 'hodnoceni_pz', 
                                      'trvaly_pobyt_v_cr', 'financovani', 
                                      'stupen_predchoziho_vzdelani', 
                                      'cislo_uchazece', 'scio_test', 
                                      'olympiady', 'postizeni_kod', 
                                      'datum_registrace', 'misto_kod', 
                                      'okres_kod', 'zeme_kod', 'psc']]

prace_fact_o = prace_fact.copy(deep=True)
prace_fact = prace_fact.drop(columns=['nazev_cs', 'nazev_en'])

student_dim_o = student_dim.copy(deep=True)
student_dim = student_dim.drop(columns=['typ_adresy'])

studium_dim_o = studium_dim.copy(deep=True)
studium_dim = studium_dim.drop(columns=['zamereni_id', 
                                        'nazev_fakulty', 
                                        'fakulta_id', 
                                        'platby_stav', 
                                        'pruchod'])

hodnoceni_dim_o = hodnoceni_dim.copy(deep=True)
hodnoceni_dim = hodnoceni_dim.drop(columns=['predmet_cislo'])

## Jednotlivé datasety

### Studenti

#### studium_dim

In [5]:
# zmena datum_zahajeni pouze na rok a zmena ze stringu na int
studium_dim['datum_zahajeni'] = studium_dim['datum_zahajeni'].apply(lambda x: x.split('-')[0])

studium_dim['datum_ukonceni'] = studium_dim['datum_ukonceni'].fillna('0')
studium_dim['datum_ukonceni'] = studium_dim['datum_ukonceni'].apply(lambda x: x.split('-')[0])

studium_dim['rok_maturity'] = studium_dim['rok_maturity'].fillna('0')
studium_dim['rok_maturity'] = studium_dim['rok_maturity'].apply(lambda x: x.split('-')[0])

studium_dim['datum_zahajeni'] = pd.to_numeric(studium_dim['datum_zahajeni'])
studium_dim['datum_ukonceni'] = pd.to_numeric(studium_dim['datum_ukonceni'])
studium_dim['rok_maturity'] = pd.to_numeric(studium_dim['rok_maturity'])

In [6]:
path_file = os.sep.join(['created_data', 'studium_dim_changed.csv'])
studium_dim.to_csv(path_file, index=False)

In [7]:
# jen studenti, kteri nastoupili od roku 2015, studuji v cj a jedna se o prezencni formu studia
studium_dim_bak = studium_dim[(studium_dim['datum_zahajeni'] >= 2015) 
                             & (studium_dim['jazyk_vyuky'] == 'CS')
                             & (studium_dim['forma_studia'] == 'P')
                             & (studium_dim['typ_programu'] == 'B')]
studium_dim_mag = studium_dim[(studium_dim['datum_zahajeni'] >= 2016)
                             & (studium_dim['jazyk_vyuky'] == 'CS')
                             & (studium_dim['forma_studia'] == 'P')
                             & (studium_dim['typ_programu'] == 'N')]

# vsichni studenti, kteri studuji v cj a jedna se o prezencni formu studia
studium_dim_bak_09 = studium_dim[(studium_dim['jazyk_vyuky'] == 'CS')
                             & (studium_dim['forma_studia'] == 'P')
                             & (studium_dim['typ_programu'] == 'B')]
studium_dim_mag_09 = studium_dim[(studium_dim['jazyk_vyuky'] == 'CS')
                             & (studium_dim['forma_studia'] == 'P')
                             & (studium_dim['typ_programu'] == 'N')]

In [8]:
# id techto studentu 
student_id_bak = studium_dim_bak['studium_id'].unique()
student_id_mag = studium_dim_mag['studium_id'].unique()

student_id_bak_09 = studium_dim_bak_09['studium_id'].unique()
student_id_mag_09 = studium_dim_mag_09['studium_id'].unique()

In [9]:
# kontrola, jestli existuje ve studium_dim vice zaznamu se stejnym studium_id
ids = studium_dim['studium_id']
studium_dim[ids.isin(ids[ids.duplicated()])]

Empty DataFrame
Columns: [studium_id, typ_programu, forma_studia, datum_zahajeni, datum_ukonceni, rocnik, studijni_stav, studuje, jazyk_vyuky, ukonceni_zpusob, rok_maturity, odkud_skola_kod]
Index: []

### Předměty

#### Pomocné proměnné k předmětům

In [11]:
# id a kody relevantních předmětů (od roku 2015, resp. 2016, jen PP / PO)
courses_kod_bak_spec = courses_bak_spec["kod_predmetu"].unique()
courses_bak_spec = predmet_dim[(predmet_dim['kod_predmetu'].isin(courses_kod_bak_spec))].loc[:, ['kod_predmetu', 'predmet_id']]
courses_id_bak_spec = courses_bak_spec['predmet_id'].unique()

courses_kod_mag_spec = courses_mag_spec["kod_predmetu"].unique()
courses_mag_spec = predmet_dim[(predmet_dim['kod_predmetu'].isin(courses_kod_mag_spec))].loc[:, ['kod_predmetu', 'predmet_id']]
courses_id_mag_spec = courses_mag_spec['predmet_id'].unique()

In [12]:
#pomocne slovniky

#slovnik predmet_id: kod_predmetu
courses_tran_id_kod = dict()
for index, row in predmet_dim.iterrows():
    courses_tran_id_kod[row['predmet_id']] = row['kod_predmetu']
    
#slovnik kod_predmetu: predmet_id
courses_tran_kod_id = dict()
for index, row in predmet_dim.iterrows():
    courses_tran_kod_id[row['kod_predmetu']] = row['predmet_id']

In [13]:
path_file = os.sep.join(['created_data', 'courses_tran_id_kod.pkl'])
file = open(path_file, 'wb')
pickle.dump(courses_tran_id_kod, file)
file.close()

path_file = os.sep.join(['created_data', 'courses_tran_kod_id.pkl'])
file = open(path_file, 'wb')
pickle.dump(courses_tran_kod_id, file)
file.close()

In [14]:
#pomocna promenna array vsech pp bak pred
courses_baks = courses_baks[(courses_baks['kod_predmetu'] != 'BI-BAP')
                            & (courses_baks['kod_predmetu'] != 'BI-BPR')]
courses_kod_bak = courses_baks['kod_predmetu'].unique()

#pomocna promenna array vsech pp mag pred
courses_mag = courses_mag[(courses_mag['kod_predmetu'] != 'MI-MPR')
                            & (courses_mag['kod_predmetu'] != 'MI-DIP')]
courses_kod_mag = courses_mag['kod_predmetu'].unique()
    
courses_id_bak = []
for course in courses_kod_bak:
    courses_id_bak.append(courses_tran_kod_id[course])

courses_id_mag = []
for course in courses_kod_mag:
    courses_id_mag.append(courses_tran_kod_id[course])

### Klasifikace

#### klasifikace_fact

In [15]:
klasifikace_fact_o = klasifikace_fact.copy(deep=True)

#### Propojení předmětů přes akreditace

In [22]:
# PA1
klasifikace_fact = klasifikace_fact.replace(
    [courses_tran_kod_id['BIK-PA1'], 
      courses_tran_kod_id['BIE-PA1'], 
      courses_tran_kod_id['BI-PA1.21'], 
      courses_tran_kod_id['BIE-PA1.21'],
      courses_tran_kod_id['BIK-PA1.21']],
     
      courses_tran_kod_id['BI-PA1']
     )

#PAI
klasifikace_fact = klasifikace_fact.replace(
    [courses_tran_kod_id['BIK-PAI'], 
      courses_tran_kod_id['BIE-PAI'], 
      courses_tran_kod_id['BI-PAI.21'], 
      courses_tran_kod_id['BIE-PAI.21'],
      courses_tran_kod_id['BIK-PAI.21']],
     
      courses_tran_kod_id['BI-PAI']
     )

#ZMA
klasifikace_fact = klasifikace_fact.replace(
    [courses_tran_kod_id['BIK-ZMA'], 
      courses_tran_kod_id['BIE-ZMA']],
     
    courses_tran_kod_id['BI-ZMA']
     )
klasifikace_fact

#CAO
klasifikace_fact = klasifikace_fact.replace(
    [courses_tran_kod_id['BIK-CAO'], 
      courses_tran_kod_id['BIE-CAO'], 
      courses_tran_kod_id['BI-TZP.21'], 
      courses_tran_kod_id['BIE-TZP.21'],
      courses_tran_kod_id['BIK-TZP.21']],
     
      courses_tran_kod_id['BI-CAO']
     )

#CAO
klasifikace_fact = klasifikace_fact.replace(
    [courses_tran_kod_id['BI-UOS'], 
      courses_tran_kod_id['BIE-UOS'], 
      courses_tran_kod_id['BIK-UOS'], 
      courses_tran_kod_id['BI-UOS.21'],
      courses_tran_kod_id['BIK-UOS.21'],
      courses_tran_kod_id['BIE-PS1'],
      courses_tran_kod_id['BIK-PS1'],
      courses_tran_kod_id['BIE-UOS.21']],
     
      courses_tran_kod_id['BI-PS1']
     )

#MLO
klasifikace_fact = klasifikace_fact.replace(
    [courses_tran_kod_id['BIK-MLO'], 
      courses_tran_kod_id['BIE-MLO']],
     
      courses_tran_kod_id['BI-MLO']
     )

#PA2
klasifikace_fact = klasifikace_fact.replace(
    [courses_tran_kod_id['BIE-PA2'], 
      courses_tran_kod_id['BIK-PA2'], 
      courses_tran_kod_id['BI-PA2.21'], 
      courses_tran_kod_id['BIE-PA2.21'],
      courses_tran_kod_id['BIK-PA2.21']],
     
      courses_tran_kod_id['BI-PA2']
     )

#SAP
klasifikace_fact = klasifikace_fact.replace(
    [courses_tran_kod_id['BIE-SAP'], 
      courses_tran_kod_id['BIK-SAP'], 
      courses_tran_kod_id['BI-SAP.21'], 
      courses_tran_kod_id['BIE-SAP.21'],
      courses_tran_kod_id['BIK-SAP.21']],
     
      courses_tran_kod_id['BI-SAP']
     )

#DBS
klasifikace_fact = klasifikace_fact.replace(
    [courses_tran_kod_id['BIE-DBS'], 
      courses_tran_kod_id['BIK-DBS'], 
      courses_tran_kod_id['BI-DBS.21'], 
      courses_tran_kod_id['BIE-DBS.21'],
      courses_tran_kod_id['BIK-DBS.21']],
     
      courses_tran_kod_id['BI-DBS']
     )

#LIN
klasifikace_fact = klasifikace_fact.replace(
    [courses_tran_kod_id['BIE-LIN'], 
      courses_tran_kod_id['BIK-LIN']],
     
      courses_tran_kod_id['BI-LIN']
     )

#AAG
klasifikace_fact = klasifikace_fact.replace(
    [courses_tran_kod_id['BIE-AAG'], 
      courses_tran_kod_id['BIK-AAG'], 
      courses_tran_kod_id['BI-AAG.21'], 
      courses_tran_kod_id['BIE-AAG.21'],
      courses_tran_kod_id['BIK-AAG.21']],
     
      courses_tran_kod_id['BI-AAG']
     )

#ZDM
klasifikace_fact = klasifikace_fact.replace(
    [courses_tran_kod_id['BIE-ZDM'], 
      courses_tran_kod_id['BIK-ZDM']],
     
      courses_tran_kod_id['BI-ZDM']
     )

#OSY
klasifikace_fact = klasifikace_fact.replace(
    [courses_tran_kod_id['BIE-OSY'], 
      courses_tran_kod_id['BIK-OSY'], 
      courses_tran_kod_id['BI-OSY.21'], 
      courses_tran_kod_id['BIE-OSY.21'],
      courses_tran_kod_id['BIK-OSY.21']],
     
      courses_tran_kod_id['BI-OSY']
     )

#PSI
klasifikace_fact = klasifikace_fact.replace(
    [courses_tran_kod_id['BIE-PSI'], 
      courses_tran_kod_id['BIK-PSI'], 
      courses_tran_kod_id['BI-PSI.21'], 
      courses_tran_kod_id['BIE-PSI.21'],
      courses_tran_kod_id['BIK-PSI.21']],
     
      courses_tran_kod_id['BI-PSI']
     )

#BEZ
klasifikace_fact = klasifikace_fact.replace(
    [courses_tran_kod_id['BIE-BEZ'], 
      courses_tran_kod_id['BIK-BEZ']],
     
      courses_tran_kod_id['BI-BEZ']
     )

#PST
klasifikace_fact = klasifikace_fact.replace(
    [courses_tran_kod_id['BIE-PST'], 
      courses_tran_kod_id['BIK-PST'], 
      courses_tran_kod_id['BI-PST.21'], 
      courses_tran_kod_id['BIE-PST.21'],
      courses_tran_kod_id['BIK-PST.21']],
     
      courses_tran_kod_id['BI-PST']
     )

#SI1.2
klasifikace_fact = klasifikace_fact.replace(
    [courses_tran_kod_id['BIE-SI1'], 
      courses_tran_kod_id['BIK-SI1'], 
      courses_tran_kod_id['BI-SI1.2'], 
      courses_tran_kod_id['BIE-SI1.2'],
      courses_tran_kod_id['BIK-SI1.2'],
      courses_tran_kod_id['BIK-SWI.21'], 
      courses_tran_kod_id['BI-SWI.21'], 
      courses_tran_kod_id['BIE-SWI.21'],],
     
      courses_tran_kod_id['BI-SI1.2']
     )

#EMP
klasifikace_fact = klasifikace_fact.replace(
    [courses_tran_kod_id['BIE-EMP'], 
      courses_tran_kod_id['BIK-EMP'], 
      courses_tran_kod_id['BI-EPD'], 
      courses_tran_kod_id['BIE-EPD'],
      courses_tran_kod_id['BIK-EPD'],
      courses_tran_kod_id['BIK-EPD.2'], 
      courses_tran_kod_id['BI-EPD.2'], 
      courses_tran_kod_id['BIE-EPD.2'],],
     
      courses_tran_kod_id['BI-EMP']
     )

#DPR
klasifikace_fact = klasifikace_fact.replace(
    [courses_tran_kod_id['BIE-DPR'], 
      courses_tran_kod_id['BIK-DPR'], 
      courses_tran_kod_id['BI-PPR'], 
      courses_tran_kod_id['BIE-PPR'],
      courses_tran_kod_id['BIK-PPR']],
     
      courses_tran_kod_id['BI-DPR']
     )

In [23]:
print(len(klasifikace_fact['predmet_id'].unique()))
print(len(klasifikace_fact_o['predmet_id'].unique()))

763
823

#### Doplnění klasifikace o známku F

In [52]:
klasifikace_fact_o[(klasifikace_fact_o['predmet_id'] == courses_tran_kod_id['BI-AAG'])]['semestr_id'].unique()

array(['B211', 'B201', 'B191', 'B181', 'B171', 'B141', 'B131', 'B151',
       'B121', 'B111', 'B101', 'B161'], dtype=object)

In [24]:
klasifikace_fact_changed = klasifikace_fact.copy(deep=True)

# pokud je zapocteno, zakonceno i znamka nan, zmena znamky na 4
klasifikace_fact_changed.loc[(klasifikace_fact_changed.semestr_id != 'B211')
                     & (klasifikace_fact_changed.znamka.isna())
                     & (klasifikace_fact_changed.zapocteno != 'Z')
                     & (klasifikace_fact_changed.zakonceno.isna()), 'znamka'] = 4

# pokud je vyplnena znamka 4, doplneni zapocteno a zakonceno
klasifikace_fact_changed.loc[(klasifikace_fact_changed.znamka == 4), 'zapocteno'] = 0
klasifikace_fact_changed.loc[(klasifikace_fact_changed.znamka == 4), 'zakonceno'] = 0

# doplneni zakonceno na 1, pokud je znamka jina nez nan nebo 4
klasifikace_fact_changed.loc[(klasifikace_fact_changed.znamka != 4) 
                             & (klasifikace_fact_changed.znamka.notna()), 'zakonceno'] = 1

# Prepsani N a Z u zapocteno na 0 a 1
klasifikace_fact_changed.loc[(klasifikace_fact_changed.zapocteno == 'N'), 'zapocteno'] = 0
klasifikace_fact_changed.loc[(klasifikace_fact_changed.zapocteno == 'Z'), 'zapocteno'] = 1

In [28]:
path_file = os.sep.join(['created_data', 'klasifikace_fact_changed.csv'])
klasifikace_fact_changed.to_csv(path_file, index=False)

#### Pomocné proměnné a datasety

In [29]:
# vsichni studenti bez bakalarky a diplomky
klasifikace_fact_bak_09 = klasifikace_fact_changed[
    (klasifikace_fact_changed['studium_id'].isin(student_id_bak_09))].sort_values(by=['poradi_zapisu'])

klasifikace_fact_mag_09 = klasifikace_fact_changed[
    (klasifikace_fact_changed['studium_id'].isin(student_id_mag_09))].sort_values(by=['poradi_zapisu'])

# bez aktualniho semestru
klasifikace_fact_bak_past = klasifikace_fact_bak_09[(klasifikace_fact_bak_09['semestr_id'] != 'B211')]
klasifikace_fact_mag_past = klasifikace_fact_mag_09[(klasifikace_fact_mag_09['semestr_id'] != 'B211')]

# jen aktualni semestr
klasifikace_fact_bak_act = klasifikace_fact_bak_09[(klasifikace_fact_bak_09['semestr_id'] == 'B211')]
klasifikace_fact_mag_act = klasifikace_fact_mag_09[(klasifikace_fact_mag_09['semestr_id'] == 'B211')]

In [30]:
path_file = os.sep.join(['created_data', 'klasifikace_fact_bak_09.csv'])
klasifikace_fact_bak_09.to_csv(path_file, index=False)
path_file = os.sep.join(['created_data', 'klasifikace_fact_mag_09.csv'])
klasifikace_fact_mag_09.to_csv(path_file, index=False)

In [54]:
path_file = os.sep.join(['created_data', 'klasifikace_fact_bak_past.csv'])
klasifikace_fact_bak_past.to_csv(path_file, index=False)
path_file = os.sep.join(['created_data', 'klasifikace_fact_mag_past.csv'])
klasifikace_fact_mag_past.to_csv(path_file, index=False)

In [55]:
path_file = os.sep.join(['created_data', 'klasifikace_fact_bak_act.csv'])
klasifikace_fact_bak_act.to_csv(path_file, index=False)
path_file = os.sep.join(['created_data', 'klasifikace_fact_bak_act.csv'])
klasifikace_fact_bak_act.to_csv(path_file, index=False)

### Matice klasifikace
* Řádky přestavují jednotlivé studenty, splopce PP předměty

#### Bakalář

In [31]:
#matice klasikace bakalar
courses_matrix_bak = pd.DataFrame(index=student_id_bak_09, columns=courses_kod_bak)  

for index, row in klasifikace_fact_bak_09[klasifikace_fact_bak_09.predmet_id.isin(courses_id_bak)].iterrows():
    if not math.isnan(row['znamka']):
        courses_matrix_bak[courses_tran_id_kod[row['predmet_id']]][row['studium_id']] = row['znamka']

In [32]:
path_file = os.sep.join(['created_data', 'courses_matrix_bak.csv'])
courses_matrix_bak.to_csv(path_file, index=True, index_label='studium_id')

In [33]:
courses_matrix_bak

,BI-PA1,BI-PAI,BI-CAO,BI-PS1,BI-MLO,BI-ZMA,BI-PA2,BI-DBS,BI-SAP,BI-LIN,BI-AG1,BI-AAG,BI-ZDM,BI-OSY,BI-PSI,BI-BEZ,BI-PST,BI-DPR,BI-SI1.2,BI-EMP
17929506,1.5,2,1.5,2,2,2.5,4,2,4,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17931206,4,2,1.5,2.5,4,4,4,4,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15569706,3,1.5,1.5,2,1.5,1.5,2,1,1,2,2,1.5,2,1,2,1.5,4,4,1.5,4
16729706,NaN,NaN,NaN,NaN,2,2,4,NaN,4,4,4,4,4,NaN,NaN,NaN,NaN,NaN,1.5,NaN
17931606,1.5,1,1,1.5,2.5,2.5,2,1.5,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19351806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19351406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19351006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19350506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19350006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
courses_matrix_bak.dropna()

,BI-PA1,BI-PAI,BI-CAO,BI-PS1,BI-MLO,BI-ZMA,BI-PA2,BI-DBS,BI-SAP,BI-LIN,BI-AG1,BI-AAG,BI-ZDM,BI-OSY,BI-PSI,BI-BEZ,BI-PST,BI-DPR,BI-SI1.2,BI-EMP
15569706,3,1.5,1.5,2,1.5,1.5,2,1,1,2,2,1.5,2,1,2,1.5,4,4,1.5,4
14249306,2.5,2.5,2,1,1.5,2.5,2.5,2,2.5,3,2.5,2.5,2.5,2.5,2,2.5,2.5,4,2.5,1.5
14247306,1,2,1,1,1.5,2,2,1,1,3,2,2,2.5,3,2.5,3,2.5,4,2.5,1.5
14291006,3,2,1,2,2.5,2,3,1.5,2.5,2.5,2.5,2,3,3,2.5,2.5,3,2.5,3,3
14318106,2.5,2.5,1,3,2,3,2,3,3,2,2.5,2.5,2.5,1,2.5,1,3,2.5,2.5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7791906,2.5,2.5,1,1.5,2,2.5,3,2,2.5,3,4,2,3,1.5,2,2,2.5,1,2,2
7813406,2,3,1.5,1.5,1.5,3,2.5,2.5,2.5,3,4,1.5,2.5,3,2.5,2,2.5,2,2,1.5
12971906,2,2.5,1,2.5,2.5,2.5,2,2.5,1.5,3,2.5,3,3,2.5,2.5,3,2,1.5,2.5,1.5
12966906,3,2,1,3,2,1.5,2.5,2,1,3,2.5,2,2,2.5,2,2,1.5,1.5,2,1.5
12978706,2,2.5,1,2.5,2,2,2,2,1.5,3,1.5,2,2.5,3,2,1.5,2,1,1.5,1.5

#### Magistr

In [35]:
#matice klasikace bakalar
courses_matrix_mag = pd.DataFrame(index=student_id_mag_09, columns=courses_kod_mag)  

for index, row in klasifikace_fact_mag_09[klasifikace_fact_mag_09.predmet_id.isin(courses_id_mag)].iterrows():
    if not math.isnan(row['znamka']):
        courses_matrix_mag[courses_tran_id_kod[row['predmet_id']]][row['studium_id']] = row['znamka']

In [53]:
path_file = os.sep.join(['created_data', 'courses_matrix_mag.csv'])
courses_matrix_mag.to_csv(path_file, index=True, index_label='studium_id')

In [36]:
courses_matrix_mag

         MI-PAA MI-MPI MI-PDP.16 MI-SPI.16
16698906    NaN    NaN       NaN       1.5
14274506    2.5      2         3         3
16698006      3    2.5       NaN         2
15630306      3      2       2.5       2.5
16703706    1.5    1.5       1.5         1
...         ...    ...       ...       ...
15626706    NaN    NaN       NaN       NaN
15626306    NaN      4       NaN       NaN
15625506    NaN      4       NaN       NaN
15625406    NaN      4       NaN       NaN
15625306    NaN      4       NaN       NaN

[2703 rows x 4 columns]

In [37]:
courses_matrix_mag.dropna()

         MI-PAA MI-MPI MI-PDP.16 MI-SPI.16
14274506    2.5      2         3         3
15630306      3      2       2.5       2.5
16703706    1.5    1.5       1.5         1
16693706    2.5      2         3         2
15644806      3      2       2.5       2.5
...         ...    ...       ...       ...
14303406    2.5      3       1.5         3
14282506    1.5      3       1.5         3
16196806    2.5      2         2         3
14320706    1.5    2.5         2         2
17206906      2      4       2.5         2

[525 rows x 4 columns]

### Úspěšní a neúspěšní studenti

In [38]:
# uspesni studenti bakalar
successful_students_bak = studium_dim_bak_09[(studium_dim_bak_09['ukonceni_zpusob'] == 1)]['studium_id'].unique()
# neuspesni studetni bakalar
failed_students_bak = studium_dim_bak_09[(studium_dim_bak_09['ukonceni_zpusob'] != 1)
                             & (studium_dim_bak_09['ukonceni_zpusob'].notna())]['studium_id'].unique()

# uspesni studenti magistr
successful_students_mag = studium_dim_mag_09[(studium_dim_mag_09['ukonceni_zpusob'] == 1)]['studium_id'].unique()
# neuspesni studenti magistr
failed_students_mag = studium_dim_mag_09[(studium_dim_mag_09['ukonceni_zpusob'] != 1)
                             & (studium_dim_mag_09['ukonceni_zpusob'].notna())]['studium_id'].unique()

In [39]:
path_file = os.sep.join(['created_data', 'failed_students_bak.npy'])
save(path_file, failed_students_bak)
path_file = os.sep.join(['created_data', 'successful_students_bak.npy'])
save(path_file, successful_students_bak)

path_file = os.sep.join(['created_data', 'failed_students_mag.npy'])
save(path_file, failed_students_mag)
path_file = os.sep.join(['created_data', 'successful_students_mag.npy'])
save(path_file, successful_students_mag)

#### Matrix_bak / matrix_mag
* Vytvoření datasetů pro predikci úspěchu dokončení studia
* Matrix_bak pro bakaláře
* Matrix_mag pro magistra
* Obsahují informace z studium_dim, student_dim, courses_matrix_bak/courses_matrix_mag

In [42]:
# studium_sub a student_sub

# nahrazeni datumu zahajeni studia a roku maturity, jejich rozdilem
# pokud jedna z hodnot chybi je hodnota nahrazena prumernym rozdilem
studium_sub = studium_dim[['studium_id', 'datum_zahajeni', 'rok_maturity']]
studium_sub['maturita_nastup_rozdil'] = studium_sub['datum_zahajeni'] - studium_sub['rok_maturity']
studium_sub.loc[studium_sub['maturita_nastup_rozdil'] > 1000, 'maturita_nastup_rozdil'] = math.nan
studium_sub.loc[studium_sub['maturita_nastup_rozdil'] < 0, 'maturita_nastup_rozdil'] = math.nan
rozdil_mean = round(studium_sub['maturita_nastup_rozdil'].mean())
studium_sub['maturita_nastup_rozdil'] = studium_sub['maturita_nastup_rozdil'].fillna(rozdil_mean)
studium_sub = studium_sub.drop(columns=['datum_zahajeni', 'rok_maturity'])

# nahrazeni sloupce statni_prislusnost_nazev, novym sloupcem je_cech (1 - pokud ano, 0 - pokud ne)
student_sub = student_dim[['studium_id', 'pohlavi_kod', 'statni_prislusnost_nazev']]
student_sub['je_cech'] = math.nan
student_sub.loc[student_sub.statni_prislusnost_nazev == 'Česko', 'je_cech'] = 1
student_sub.loc[student_sub.statni_prislusnost_nazev != 'Česko', 'je_cech'] = 0
student_sub = student_sub.drop(columns='statni_prislusnost_nazev')

<ipython-input-42-3259d5f83061>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  studium_sub['maturita_nastup_rozdil'] = studium_sub['datum_zahajeni'] - studium_sub['rok_maturity']
/home/kapitann/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/home/kapitann/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
<ipython-input-42-3259d5f83061>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  studium_sub['maturita_nastup_rozdil'] = studium_sub['maturita_nastup_rozdil'].fillna(rozdil_mean)
<ipython-input-42-3259d5f83061>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  student_sub['je_cech'] = math.nan

##### Bakalář všechny PP předměty

In [58]:
matrix_bak = student_sub.merge(studium_sub, how='outer', on='studium_id')
matrix_bak['dostudoval_uspesne'] = 0

matrix_bak.loc[matrix_bak.studium_id.isin(successful_students_bak), 'dostudoval_uspesne'] = 1
matrix_bak.drop(matrix_bak[(~matrix_bak.studium_id.isin(failed_students_bak))
                          & (~matrix_bak.studium_id.isin(successful_students_bak))].index, inplace=True)

ids_bak = matrix_bak['studium_id']
matrix_bak[ids_bak.isin(ids_bak[ids_bak.duplicated()])]

matrix_bak = matrix_bak.merge(courses_matrix_bak, how='inner', left_on='studium_id', right_index=True)
    
matrix_bak = matrix_bak.drop_duplicates(subset=['studium_id'])
matrix_bak = matrix_bak.set_index('studium_id')
matrix_bak = matrix_bak.replace('M', 0)
matrix_bak = matrix_bak.replace('Z', 1)

In [44]:
print(len(matrix_bak[(matrix_bak['dostudoval_uspesne'] == 1)
          & (matrix_bak['BI-AG1'].notna())]))
print(len(matrix_bak[(matrix_bak['dostudoval_uspesne'] == 1)]))
print(len(matrix_bak[(matrix_bak['BI-AG1'].notna())]))
print(len(matrix_bak[(matrix_bak['dostudoval_uspesne'] == 1)
          & (matrix_bak['BI-DPR'].notna())]))
print(len(matrix_bak[(matrix_bak['BI-DPR'].notna())]))

788
2096
1473
2072
2333

In [59]:
path_file = os.sep.join(['created_data', 'matrix_bak.csv'])
matrix_bak.to_csv(path_file, index=True, index_label='studium_id')

In [60]:
matrix_bak

,pohlavi_kod,je_cech,maturita_nastup_rozdil,dostudoval_uspesne,BI-PA1,BI-PAI,BI-CAO,BI-PS1,BI-MLO,BI-ZMA,BI-PA2,BI-DBS,BI-SAP,BI-LIN,BI-AG1,BI-AAG,BI-ZDM,BI-OSY,BI-PSI,BI-BEZ,BI-PST,BI-DPR,BI-SI1.2,BI-EMP
studium_id,,,,,,,,,,,,,,,,,,,,,,,,
1578106,0,0.0,2.0,1,2.0,1.5,1.5,2.0,2.0,2.0,3.0,2.0,1.5,1.0,NaN,2.0,3.0,1.5,2.0,3.0,1.5,1.5,NaN,3.0
1584806,0,0.0,3.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4783406,0,1.0,2.0,0,4.0,3.0,1.5,4.0,2.5,2.5,NaN,NaN,4.0,4.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
8396706,1,1.0,4.0,0,4.0,4.0,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4047706,0,1.0,1.0,1,3.0,3.0,1.5,3.0,1.5,1.5,3.0,2.0,1.5,2.5,NaN,2.5,2.0,2.5,2.5,2.5,2.0,1.5,NaN,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2815106,0,1.0,0.0,0,2.5,2.0,3.0,2.5,2.0,2.0,3.0,2.5,3.0,3.0,NaN,3.0,3.0,3.0,3.0,4.0,2.5,2.5,NaN,4.0
6280106,0,1.0,4.0,0,NaN,2.0,2.0,1.0,2.0,4.0,2.5,4.0,NaN,4.0,NaN,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN
3727706,0,1.0,1.0,1,1.0,2.0,1.0,1.5,1.5,1.5,1.5,1.5,1.0,1.5,NaN,1.0,2.0,1.0,2.0,1.5,1.0,1.0,NaN,NaN
2816306,0,1.0,10.0,0,1.0,4.0,4.0,4.0,2.0,2.0,4.0,NaN,4.0,4.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
1577906,0,1.0,9.0,0,4.0,4.0,4.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Magistr

In [56]:
matrix_mag = student_sub.merge(studium_sub, how='outer', on='studium_id')
matrix_mag['dostudoval_uspesne'] = 0

matrix_mag.loc[matrix_mag.studium_id.isin(successful_students_mag), 'dostudoval_uspesne'] = 1
matrix_mag.drop(matrix_mag[(~matrix_mag.studium_id.isin(failed_students_mag))
                          & (~matrix_mag.studium_id.isin(successful_students_mag))].index, inplace=True)

ids_mag = matrix_mag['studium_id']
matrix_mag[ids_mag.isin(ids_mag[ids_mag.duplicated()])]

matrix_mag = matrix_mag.merge(courses_matrix_mag, how='inner', left_on='studium_id', right_index=True)
    
matrix_mag = matrix_mag.drop_duplicates(subset=['studium_id'])
matrix_mag = matrix_mag.set_index('studium_id')
matrix_mag = matrix_mag.replace('M', 0)
matrix_mag = matrix_mag.replace('Z', 1)

In [57]:
matrix_mag

,pohlavi_kod,je_cech,maturita_nastup_rozdil,dostudoval_uspesne,MI-PAA,MI-MPI,MI-PDP.16,MI-SPI.16
studium_id,,,,,,,,
9249706,0.0,1.0,2.0,0,NaN,4.0,NaN,NaN
8333406,1.0,1.0,2.0,0,NaN,4.0,NaN,NaN
9236906,1.0,1.0,2.0,1,2.5,2.5,NaN,NaN
9248206,0.0,1.0,2.0,0,2.5,3.0,NaN,NaN
13027706,0.0,1.0,2.0,0,NaN,2.5,NaN,4.0
...,...,...,...,...,...,...,...,...
5406106,0.0,1.0,2.0,0,2.0,3.0,NaN,NaN
5415906,0.0,1.0,2.0,1,1.5,2.5,NaN,NaN
8326106,1.0,1.0,2.0,1,2.5,NaN,NaN,NaN
8325206,0.0,1.0,2.0,1,1.5,2.5,NaN,NaN
5411606,0.0,1.0,2.0,0,NaN,4.0,NaN,NaN